@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2.5px;
}
